@page "/crudpage"

@using Newtonsoft.Json.Linq
@using mauiBlazor.Data
@inject DataService DataService
@inject NavigationManager NavigationManager
<h3>Data Karyawan</h3>
<br />
<RadzenButton Text="Tambah Data" ButtonStyle="ButtonStyle.Secondary" Click="TambahKaryawan"/>
<br />
<br />
<pthRazorLibrary.Controls.PthTabel Items="dataKaryawan" OnSelectedItem="@(args => OnDataDipilih(args))">
	<Column>
		<RadzenDataGridColumn TItem="DataKaryawan" Property="NamaLengkap" Title="Nama Lengkap"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DataKaryawan" Property="NamaPanggilan" Title="Nama Panggilan"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DataKaryawan" Property="Alamat" Title="Alamat"></RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="DataKaryawan" Property="Kota" Title="Kota"></RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="DataKaryawan" Property="IdKaryawan" Title="Opsi" Filterable="false" Sortable="false">
			<Template Context="data">
				<RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(args => OnHapusData(data))"></RadzenButton>
			</Template>
		</RadzenDataGridColumn>
	</Column>
</pthRazorLibrary.Controls.PthTabel>
@code{
	private List<DataKaryawan> dataKaryawan = new List<DataKaryawan>();

	protected override async Task OnInitializedAsync()
	{
		dataKaryawan.Clear();
		dataKaryawan = await DataService.GetDataKaryawan();
		this.StateHasChanged();
	}

	void TambahKaryawan(){
		NavigationManager.NavigateTo("/form");
	}

	private void OnDataDipilih(object value)
	{
		var json = System.Text.Json.JsonSerializer.Serialize(value);
		JObject obj = JObject.Parse(json);
		object data = (object)obj["Data"];
		DataKaryawan datadipilih = System.Text.Json.JsonSerializer.Deserialize<DataKaryawan>(data.ToString());
		DataService.SetDataDipilih(datadipilih);
		NavigationManager.NavigateTo("/form");
	}

	private async void OnHapusData(DataKaryawan data){
		DataService.DeleteKaryawan(data.IdKaryawan);
		dataKaryawan.Remove(data);
		OnInitializedAsync();
	}
}