@page "/fetchdata"
@using Mapster
@using mauiBlazor.Data
@inject DataService DataService

<PageTitle>Data Karyawan</PageTitle>

<h1>Data Karyawan</h1>

<p>This component demonstrates fetching data from the server.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Nama Lengkap</th>
                <th>Nama Panggilan</th>
                <th>Alamat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in dataKaryawan)
            {
                <tr>
                    <td>@item.NamaLengkap</td>
                    <td>@item.NamaPanggilan</td>
                    <td>@item.Alamat</td>
                </tr>
            }
        </tbody>
    </table>

<br />
<br />
<RadzenDataGrid Data="@dataKaryawan" TItem="DataKaryawan" AllowPaging="true"
                AllowFiltering="true" AllowSorting="true" AllowColumnResize="true"
                FilterMode="FilterMode.SimpleWithMenu" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                SelectionMode="Radzen.DataGridSelectionMode.Single">
    <Columns>
            <RadzenDataGridColumn TItem="DataKaryawan" Property="NamaLengkap" Title="NamaLengkap"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DataKaryawan" Property="NamaPanggilan" Title="NamaPanggilan"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DataKaryawan" Property="Alamat" Title="Alamat"></RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
@code {
    public List<DataKaryawan> dataKaryawan { get; set; } = new List<DataKaryawan>();
    protected override async Task OnInitializedAsync()
    {
        dataKaryawan.Clear();
        var data = DataService.GetData();
        await foreach (var item in data)
        {
            var karyawan = item.Adapt<DataKaryawan>();
            dataKaryawan.Add(karyawan);
            this.StateHasChanged();
        }
    }
}
