<h3>Modal</h3>
<div class="row">
    <div class="col-lg-6 d-flex">
        <RadzenCard Style="width: 100%; overflow: hidden;">
            <p>Halo</p>
        </RadzenCard>
    </div>
</div>
@code {

}
